body {
    background-color: rgb(51, 19, 56);
}

#main_container {
    background-color: rgb(75, 42, 146);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr 3fr 3fr 1fr;
    grid-template-areas: 
     "box1 box1"
     "box2 box2"
     "box3 box5"
     "box4 box5"
     "box6 box6";
    height: 95vh;
     width: 100%;
    gap: 10px;
}

.box {
    background-color: rgb(215, 173, 255);
    border-style: outset;
    border-color: rgb(184, 107, 255);
}

#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
}

#box4 {
    grid-area: box4;
    width: 5fr;
}

#box5 {
    width: 1fr;
    grid-area: box5;
}

#box6 {
    grid-area: box6;
}